pipeline/CD_CarteraCredito_EntidadesSupervisadas.json
{
	"name": "CD_CarteraCredito_EntidadesSupervisadas",
	"properties": {
		"activities": [
			{
				"name": "SetFileToDownload",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set FechaProc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.sugef.fi.cr/ReportesSUGEF/InformacionCrediticia/ReporteCrediticioInicio",
					"method": "POST",
					"headers": {
						"content-type": "application/x-www-form-urlencoded; charset=UTF-8"
					},
					"body": {
						"value": "@concat('modelo_Parametros%5BTipoPeriodo%5D=Seleccion&modelo_Parametros%5BPeriodosSeleccionadosRango%5D%5B%5D=02%2F2022&modelo_Parametros%5BPeriodosSeleccionadosRango%5D%5B%5D=02%2F2022&modelo_Parametros%5BTipoSaldo%5D%5B%5D=SaldoPrincipalCreditosDirectos&modelo_Parametros%5BSectoresSeleccionados%5D%5B%5D=1&modelo_Parametros%5BSectoresSeleccionados%5D%5B%5D=2&modelo_Parametros%5BSectoresSeleccionados%5D%5B%5D=3&modelo_Parametros%5BSectoresSeleccionados%5D%5B%5D=4&modelo_Parametros%5BSectoresSeleccionados%5D%5B%5D=5&modelo_Parametros%5BSectoresSeleccionados%5D%5B%5D=6&modelo_Parametros%5BSectoresSeleccionados%5D%5B%5D=7&modelo_Parametros%5BSectoresSeleccionados%5D%5B%5D=9&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=4000000019&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=4000001021&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3007078890&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=4000042152&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101012009&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101048587&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101216492&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101692649&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101046008&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101484559&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101079006&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101023155&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101127487&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101089984&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101046536&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101052431&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101192928&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101135871&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101059618&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101591259&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3007002820&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045290&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004075890&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045138&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045347&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045027&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004092063&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004056856&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045110&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004051626&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004204661&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045236&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045564&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004190582&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004071101&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004078670&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045205&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004061271&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045710&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004045111&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004066984&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3004161481&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3009045021&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3009045143&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101201601&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101346229&modelo_Parametros%5BEntidadesSeleccionadas%5D%5B%5D=3101587152&tipoAccion=Excel&tipoReporte=ActividadEconomicayDiasAtraso&cantEntidades=47&modelo_Parametros%5BPeriodosSeleccionadosSeleccion%5D%5B%5D=', uriComponent(variables('FechaProc')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FechaProc",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FechaProc",
					"value": {
						"value": "@formatDateTime(utcnow(), 'MM/yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Mensaje Error",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetFileToDownload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('SetFileToDownload').output.Mensaje==\"\"",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Mensaje error",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('SetFileToDownload').output.Mensaje",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					]
				}
			}
		],
		"variables": {
			"FechaProc": {
				"type": "String",
				"defaultValue": "02/2022"
			}
		},
		"folder": {
			"name": "SUGEF"
		},
		"annotations": []
	}
}