pipeline/Copiar_SIPO_Diario.json
{
	"name": "Copiar_SIPO_Diario",
	"properties": {
		"activities": [
			{
				"name": "ConvertToCVS",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Rename_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ConvertDBFtoCSV",
					"method": "POST",
					"body": {
						"connectionString": "@pipeline().globalParameters.storageConnectionString",
						"containerName": "sharepoint",
						"fileName": "sipo/*.sipo_diario.dbf"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CleanSIPO",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "ConvertToCVS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "CleanCSVSIPO",
					"method": "POST",
					"body": {
						"connectionString": "@pipeline().globalParameters.storageConnectionString",
						"containerName": "sharepoint",
						"fileName": "@activity('ConvertToCVS').output.file"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CD_SIPO_CSVtoParquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CleanSIPO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "DATE_LOADED",
								"value": {
									"value": "@substring(activity('ConvertToCVS').output.file, 0, 8)",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@activity('ConvertToCVS').output.file",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": {
								"value": "@activity('ConvertToCVS').output.file",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DATE_LOADED",
									"type": "String"
								},
								"sink": {
									"name": "DATE_LOADED"
								}
							},
							{
								"source": {
									"name": "TIPO",
									"type": "Int16"
								},
								"sink": {
									"name": "TIPO"
								}
							},
							{
								"source": {
									"name": "ORIGEN",
									"type": "Int16"
								},
								"sink": {
									"name": "ORIGEN"
								}
							},
							{
								"source": {
									"name": "OPERACION",
									"type": "String"
								},
								"sink": {
									"name": "OPERACION"
								}
							},
							{
								"source": {
									"name": "PATRONO",
									"type": "Int64"
								},
								"sink": {
									"name": "PATRONO"
								}
							},
							{
								"source": {
									"name": "NCUOTA",
									"type": "Int16"
								},
								"sink": {
									"name": "NCUOTA"
								}
							},
							{
								"source": {
									"name": "CAJERO",
									"type": "String"
								},
								"sink": {
									"name": "CAJERO"
								}
							},
							{
								"source": {
									"name": "CPTE",
									"type": "Int64"
								},
								"sink": {
									"name": "CPTE"
								}
							},
							{
								"source": {
									"name": "AGENCIAR",
									"type": "Int16"
								},
								"sink": {
									"name": "AGENCIAR"
								}
							},
							{
								"source": {
									"name": "MONTO",
									"type": "Decimal"
								},
								"sink": {
									"name": "MONTO"
								}
							},
							{
								"source": {
									"name": "IMORA",
									"type": "Decimal"
								},
								"sink": {
									"name": "IMORA"
								}
							},
							{
								"source": {
									"name": "GASTOS",
									"type": "Decimal"
								},
								"sink": {
									"name": "GASTOS"
								}
							},
							{
								"source": {
									"name": "COSTAS",
									"type": "Decimal"
								},
								"sink": {
									"name": "COSTAS"
								}
							},
							{
								"source": {
									"name": "HONORARIOS",
									"type": "Decimal"
								},
								"sink": {
									"name": "HONORARIOS"
								}
							},
							{
								"source": {
									"name": "MULTAS",
									"type": "Decimal"
								},
								"sink": {
									"name": "MULTAS"
								}
							},
							{
								"source": {
									"name": "COMISION",
									"type": "Decimal"
								},
								"sink": {
									"name": "COMISION"
								}
							},
							{
								"source": {
									"name": "OTRO0",
									"type": "Decimal"
								},
								"sink": {
									"name": "OTRO0"
								}
							},
							{
								"source": {
									"name": "OTRO1",
									"type": "Decimal"
								},
								"sink": {
									"name": "OTRO1"
								}
							},
							{
								"source": {
									"name": "OTRO2",
									"type": "Decimal"
								},
								"sink": {
									"name": "OTRO2"
								}
							},
							{
								"source": {
									"name": "SALDO",
									"type": "Decimal"
								},
								"sink": {
									"name": "SALDO"
								}
							},
							{
								"source": {
									"name": "CUOTA",
									"type": "Decimal"
								},
								"sink": {
									"name": "CUOTA"
								}
							},
							{
								"source": {
									"name": "ICORR",
									"type": "Decimal"
								},
								"sink": {
									"name": "ICORR"
								}
							},
							{
								"source": {
									"name": "IGAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "IGAN"
								}
							},
							{
								"source": {
									"name": "AMORT",
									"type": "Decimal"
								},
								"sink": {
									"name": "AMORT"
								}
							},
							{
								"source": {
									"name": "PVIDA",
									"type": "Decimal"
								},
								"sink": {
									"name": "PVIDA"
								}
							},
							{
								"source": {
									"name": "PINC",
									"type": "Decimal"
								},
								"sink": {
									"name": "PINC"
								}
							},
							{
								"source": {
									"name": "PVEH",
									"type": "Decimal"
								},
								"sink": {
									"name": "PVEH"
								}
							},
							{
								"source": {
									"name": "PGAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "PGAN"
								}
							},
							{
								"source": {
									"name": "EXCESO",
									"type": "Decimal"
								},
								"sink": {
									"name": "EXCESO"
								}
							},
							{
								"source": {
									"name": "FRACCION",
									"type": "Decimal"
								},
								"sink": {
									"name": "FRACCION"
								}
							},
							{
								"source": {
									"name": "REF",
									"type": "Int32"
								},
								"sink": {
									"name": "REF"
								}
							},
							{
								"source": {
									"name": "TERM",
									"type": "String"
								},
								"sink": {
									"name": "TERM"
								}
							},
							{
								"source": {
									"name": "LIBR",
									"type": "Int16"
								},
								"sink": {
									"name": "LIBR"
								}
							},
							{
								"source": {
									"name": "CEDULA",
									"type": "Int64"
								},
								"sink": {
									"name": "CEDULA"
								}
							},
							{
								"source": {
									"name": "TASA",
									"type": "Decimal"
								},
								"sink": {
									"name": "TASA"
								}
							},
							{
								"source": {
									"name": "CPAG",
									"type": "Int16"
								},
								"sink": {
									"name": "CPAG"
								}
							},
							{
								"source": {
									"name": "FCONST",
									"type": "DateTime"
								},
								"sink": {
									"name": "FCONST"
								}
							},
							{
								"source": {
									"name": "FVENC",
									"type": "String"
								},
								"sink": {
									"name": "FVENC"
								}
							},
							{
								"source": {
									"name": "FAPLIC",
									"type": "DateTime"
								},
								"sink": {
									"name": "FAPLIC"
								}
							},
							{
								"source": {
									"name": "FEFEC",
									"type": "DateTime"
								},
								"sink": {
									"name": "FEFEC"
								}
							},
							{
								"source": {
									"name": "FPLAN",
									"type": "DateTime"
								},
								"sink": {
									"name": "FPLAN"
								}
							},
							{
								"source": {
									"name": "FCALC",
									"type": "DateTime"
								},
								"sink": {
									"name": "FCALC"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "Int16"
								},
								"sink": {
									"name": "STATUS"
								}
							},
							{
								"source": {
									"name": "CONSEC",
									"type": "Int64"
								},
								"sink": {
									"name": "CONSEC"
								}
							},
							{
								"source": {
									"name": "PRINCIPAL",
									"type": "Decimal"
								},
								"sink": {
									"name": "PRINCIPAL"
								}
							},
							{
								"source": {
									"name": "REMANENTE",
									"type": "Decimal"
								},
								"sink": {
									"name": "REMANENTE"
								}
							},
							{
								"source": {
									"name": "NCUENTA",
									"type": "Int64"
								},
								"sink": {
									"name": "NCUENTA"
								}
							},
							{
								"source": {
									"name": "PLAZO",
									"type": "Int16"
								},
								"sink": {
									"name": "PLAZO"
								}
							},
							{
								"source": {
									"name": "REFERENCIA",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCIA"
								}
							},
							{
								"source": {
									"name": "NOMBRE",
									"type": "String"
								},
								"sink": {
									"name": "NOMBRE"
								}
							},
							{
								"source": {
									"name": "ESTADO",
									"type": "String"
								},
								"sink": {
									"name": "ESTADO"
								}
							},
							{
								"source": {
									"name": "AGECON",
									"type": "Int32"
								},
								"sink": {
									"name": "AGECON"
								}
							},
							{
								"source": {
									"name": "CTACRX",
									"type": "String"
								},
								"sink": {
									"name": "CTACRX"
								}
							},
							{
								"source": {
									"name": "CTACRV",
									"type": "String"
								},
								"sink": {
									"name": "CTACRV"
								}
							},
							{
								"source": {
									"name": "CTAPXC",
									"type": "String"
								},
								"sink": {
									"name": "CTAPXC"
								}
							},
							{
								"source": {
									"name": "CTAIGA",
									"type": "String"
								},
								"sink": {
									"name": "CTAIGA"
								}
							},
							{
								"source": {
									"name": "HORA",
									"type": "Int64"
								},
								"sink": {
									"name": "HORA"
								}
							},
							{
								"source": {
									"name": "CLASIFICAC",
									"type": "String"
								},
								"sink": {
									"name": "CLASIFICAC"
								}
							},
							{
								"source": {
									"name": "STATUS206",
									"type": "String"
								},
								"sink": {
									"name": "STATUS206"
								}
							},
							{
								"source": {
									"name": "LIBRETA",
									"type": "String"
								},
								"sink": {
									"name": "LIBRETA"
								}
							},
							{
								"source": {
									"name": "TIPO_TASA",
									"type": "String"
								},
								"sink": {
									"name": "TIPO_TASA"
								}
							},
							{
								"source": {
									"name": "GEN_PEND",
									"type": "String"
								},
								"sink": {
									"name": "GEN_PEND"
								}
							},
							{
								"source": {
									"name": "COD_ARCH",
									"type": "String"
								},
								"sink": {
									"name": "COD_ARCH"
								}
							},
							{
								"source": {
									"name": "SELF_AUX",
									"type": "String"
								},
								"sink": {
									"name": "SELF_AUX"
								}
							},
							{
								"source": {
									"name": "MONEDA",
									"type": "Int16"
								},
								"sink": {
									"name": "MONEDA"
								}
							},
							{
								"source": {
									"name": "RESTO",
									"type": "String"
								},
								"sink": {
									"name": "RESTO"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceSIPOCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationSIPOParquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DeleteSIPOSource",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CD_SIPO_CSVtoParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceSIPOBinary",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"fileListPath": "sharepoint/sipo",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "DeleteSharepoint",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "DeleteSIPOSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "SharepointEmptyFolder",
					"method": "POST",
					"body": {
						"authUri": "@pipeline().globalParameters.SharepointAuthUri",
						"authClientId": "@pipeline().globalParameters.SharepointAuthClientId",
						"authClientSecret": "@pipeline().globalParameters.SharepointAuthClientSecret",
						"authResource": "@replace(pipeline().globalParameters.SharepointAuthResource, '[AT]', '@')",
						"onlineUri": "@pipeline().globalParameters.SharepointOnlineUri",
						"pathPrefix": "/sites/DATALAKEAI/DATALAKE/",
						"paths": "Sipo Diario"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Rename_File",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "SharepointDownloadFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "addDateToFile",
					"method": "POST",
					"body": {
						"connectionString": "@pipeline().globalParameters.storageConnectionString",
						"containerName": "sharepoint",
						"fileName": "sipo/*"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SharepointDownloadFiles",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "SharepointDownloadFiles",
					"method": "POST",
					"body": {
						"authUri": "@pipeline().globalParameters.SharepointAuthUri",
						"authClientId": "@pipeline().globalParameters.SharepointAuthClientId",
						"authClientSecret": "@pipeline().globalParameters.SharepointAuthClientSecret",
						"authResource": "@replace(pipeline().globalParameters.SharepointAuthResource, '[AT]', '@')",
						"onlineUri": "@pipeline().globalParameters.SharepointOnlineUri",
						"pathPrefix": "/sites/DATALAKEAI/DATALAKE/",
						"paths": "SIPO Diario",
						"storageConnectionString": "@pipeline().globalParameters.storageConnectionString",
						"containerName": "sharepoint",
						"pathDestiny": "sipo"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "AuditoriaInterna/Sharepoint"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-28T22:23:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}