pipeline/Copiar_TSE_MAESTRO_PADRON.json
{
	"name": "Copiar_TSE_MAESTRO_PADRON",
	"properties": {
		"activities": [
			{
				"name": "CD_Padron",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FixedToCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "FILEPATH",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "tsemaestrapadron",
							"wildcardFileName": "*.PADRON_COMPLETO.txt",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "CEDULA",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "CODELEC",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "RELLENO",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "FECHACADUC",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"name": "NOMBRE",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "APELLIDO_1",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"name": "APELLIDO_2",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 8
								},
								"sink": {
									"name": "JUNTA",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"name": "NROELECTOR"
								}
							},
							{
								"source": {
									"name": "FILEPATH",
									"type": "String"
								},
								"sink": {
									"name": "FILEPATH",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourcePadronTXT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationPadronCompletoParquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DeletePadronCompleto",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CD_Padron",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourcePadronTXT",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@{activity('FixedToCSV').output.file}",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "DeleteSharepoint",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "DeletePadronCompleto",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "SharepointEmptyFolder",
					"method": "POST",
					"body": {
						"authUri": "@pipeline().globalParameters.SharepointAuthUri",
						"authClientId": "@pipeline().globalParameters.SharepointAuthClientId",
						"authClientSecret": "@pipeline().globalParameters.SharepointAuthClientSecret",
						"authResource": "@replace(pipeline().globalParameters.SharepointAuthResource, '[AT]', '@')",
						"onlineUri": "@pipeline().globalParameters.SharepointOnlineUri",
						"pathPrefix": "/sites/DATALAKEAI/DATALAKE/",
						"paths": "TSE Maestra/Padron Electoral"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FixedToCSV",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Rename_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ConvertFixedtoCSV",
					"method": "POST",
					"body": {
						"connectionString": "@pipeline().globalParameters.storageConnectionString",
						"containerName": "sharepoint",
						"fileName": "tsemaestrapadron/*.PADRON_COMPLETO.txt",
						"format": "9,6,1,8,30,26,26,5,3",
						"encoding": "iso-8859-1"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Rename_Files",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "SharepointDownloadFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "addDateToFile",
					"method": "POST",
					"body": {
						"connectionString": "@pipeline().globalParameters.storageConnectionString",
						"containerName": "sharepoint",
						"fileName": "tsemaestrapadron/*.txt"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SharepointDownloadFiles",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "SharepointDownloadFiles",
					"method": "POST",
					"body": {
						"authUri": "@pipeline().globalParameters.SharepointAuthUri",
						"authClientId": "@pipeline().globalParameters.SharepointAuthClientId",
						"authClientSecret": "@pipeline().globalParameters.SharepointAuthClientSecret",
						"authResource": "@replace(pipeline().globalParameters.SharepointAuthResource, '[AT]', '@')",
						"onlineUri": "@pipeline().globalParameters.SharepointOnlineUri",
						"pathPrefix": "/sites/DATALAKEAI/DATALAKE/",
						"paths": "TSE Maestra/Padron Electoral",
						"storageConnectionString": "@pipeline().globalParameters.storageConnectionString",
						"containerName": "sharepoint",
						"pathDestiny": "tsemaestrapadron"
					}
				},
				"linkedServiceName": {
					"referenceName": "AF_AuditoriaInterna",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "AuditoriaInterna/Sharepoint"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-28T22:23:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}