DFPRPBI-dev/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFPRPBI-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Carga_NoDefinido_Credito')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga_NoDefinido_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Carga_NoDefinido_Credito]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Carga_NoDefinido_General')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga_NoDefinido_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Carga_NoDefinido_General]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Carga_NoDefinido_SegmentaCliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga_NoDefinido_SegmentaCliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Carga_NoDefinido_SegmentaCliente]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Carga_No_Definido')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga_No_Definido",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Carga_No_Definido]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Elimina_Stage_Captacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Elimina_Stage_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Elimina_Stage_Captacion]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Elimina_Stage_Cliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Elimina_Stage_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Elimina_Stage_Cliente]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Elimina_Stage_Credito')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Elimina_Stage_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Elimina_Stage_Credito]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Elimina_Stage_General')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Elimina_Stage_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Elimina_Stage_General]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extrae_Tarjeta_Diario')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_Tarjeta_Diario",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_Tarjeta_Diario]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Tarjetas"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extrae_Tarjeta_Mensual')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_Tarjeta_Mensual",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_Tarjeta_Mensual]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Tarjetas"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extraer_Canales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_Canales",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_Canales]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Canales"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extraer_Captacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_Captacion]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extraer_Cliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_Cliente]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extraer_Credito')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_Credito]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extraer_General')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_General]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extraer_SICERE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_SICERE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_SICERE]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SICERE"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extraer_SUGEF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_SUGEF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_SUGEF]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SUGEF"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SP_DWH_Extraer_Sharepoint')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_Sharepoint",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Extrae_Sharepoint]"
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T03:20:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_FACT_Historico_Mes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Transformacion_FACT_CaptacionHistorico_Mes",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_SegmentaCliente_MES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Carga_FACT_CaptacionHistorico_MES]",
							"storedProcedureParameters": {
								"FechaCarga": {
									"value": {
										"value": "@pipeline().parameters.FechaCarga",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_FACT_SegmentaCliente_MES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_SegmentaCliente_Mes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Carga_DIM_SegmentaClienteHistorico_MES]",
							"storedProcedureParameters": {
								"FechaCarga": {
									"value": {
										"value": "\t\n@pipeline().parameters.FechaCarga",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_FACT_Credito_MES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_CaptacionHistorico_Mes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Carga_FACT_CreditoHistorico_MES]",
							"storedProcedureParameters": {
								"FechaCarga": {
									"value": {
										"value": "@pipeline().parameters.FechaCarga",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_SegmentaCliente_Mes",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Carga_DIM_SegmentaClienteHistorico_MES]",
							"storedProcedureParameters": {
								"FechaCarga": {
									"value": {
										"value": "@pipeline().parameters.FechaCarga",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FechaCarga": {
						"type": "string",
						"defaultValue": "2021-05-31"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-06-08T14:53:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UPD_MODEL_Diario')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UPD_MODEL_Diario_1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Reanudar DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "UPD_MODEL_Diario_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database": {
									"value": "@pipeline().parameters.Database",
									"type": "Expression"
								},
								"CredentialName": {
									"value": "@pipeline().parameters.CredentialName",
									"type": "Expression"
								},
								"AnalysisService": {
									"value": "@pipeline().parameters.AnalysisService",
									"type": "Expression"
								},
								"TableRefreshURL": {
									"value": "@pipeline().parameters.TableRefreshURL",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "UPD_MODEL_Diario_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "UPD_MODEL_Diario_1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "UPD_MODEL_Diario_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database": {
									"value": "@pipeline().parameters.Database",
									"type": "Expression"
								},
								"CredentialName": {
									"value": "@pipeline().parameters.CredentialName",
									"type": "Expression"
								},
								"AnalysisService": {
									"value": "@pipeline().parameters.AnalysisService",
									"type": "Expression"
								},
								"TableRefreshURL": {
									"value": "@pipeline().parameters.TableRefreshURL",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "UPD_MODEL_Diario_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "UPD_MODEL_Diario_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "UPD_MODEL_Diario_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database": {
									"value": "@pipeline().parameters.Database",
									"type": "Expression"
								},
								"CredentialName": {
									"value": "@pipeline().parameters.CredentialName",
									"type": "Expression"
								},
								"AnalysisService": {
									"value": "@pipeline().parameters.AnalysisService",
									"type": "Expression"
								},
								"PartitionRefreshURL": {
									"value": "@pipeline().parameters.PartitionRefreshURL",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Database Recalc",
						"type": "WebHook",
						"dependsOn": [
							{
								"activity": "UPD_MODEL_Diario_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.DatabaseRefreshURL",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"CredentialName": "@pipeline().parameters.CredentialName",
								"AnalysisServicesDatabaseName": "@pipeline().parameters.Database",
								"AnalysisServicesServer": "@pipeline().parameters.AnalysisService",
								"DatabaseRefreshType": "Calculate"
							},
							"timeout": "01:00:00"
						}
					},
					{
						"name": "Auth Azure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Database Recalc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TENANT_ID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded",
								"Accept": "*/*"
							},
							"body": {
								"value": "@concat('grant_type=client_credentials&client_id=',pipeline().parameters.CLIENT_ID,'&client_secret=',pipeline().parameters.CLIENT_SECRET,'&resource=https%3A%2F%2Fmanagement.azure.com%2F')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Pausar DB",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Auth Azure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SUSCRIPTION_ID,'/resourceGroups/',pipeline().parameters.RESOURCEGROUP_NAME,'/providers/Microsoft.Sql/servers/',pipeline().parameters.SERVER_NAME,'/databases/',pipeline().parameters.DATABASE_NAME,'/pause?api-version=2021-02-01-preview')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Authorization": {
									"value": "@concat(activity('Auth Azure').output.token_type, ' ', activity('Auth Azure').output.access_token)",
									"type": "Expression"
								}
							},
							"body": {
								"value": "@concat('grant_type=client_credentials&client_id=',pipeline().parameters.CLIENT_ID,'&client_secret=',pipeline().parameters.CLIENT_SECRET,'&resource=https%3A%2F%2Fmanagement.azure.com%2F')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Auth Azure Inicial",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.TENANT_ID,'/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded",
								"Accept": "*/*"
							},
							"body": {
								"value": "@concat('grant_type=client_credentials&client_id=',pipeline().parameters.CLIENT_ID,'&client_secret=',pipeline().parameters.CLIENT_SECRET,'&resource=https%3A%2F%2Fmanagement.azure.com%2F')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Reanudar DB",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Auth Azure Inicial",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SUSCRIPTION_ID,'/resourceGroups/',pipeline().parameters.RESOURCEGROUP_NAME,'/providers/Microsoft.Sql/servers/',pipeline().parameters.SERVER_NAME,'/databases/',pipeline().parameters.DATABASE_NAME,'/resume?api-version=2021-02-01-preview')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Authorization": {
									"value": "@concat(activity('Auth Azure Inicial').output.token_type, ' ', activity('Auth Azure Inicial').output.access_token)",
									"type": "Expression"
								}
							},
							"body": {
								"value": "@concat('grant_type=client_credentials&client_id=',pipeline().parameters.CLIENT_ID,'&client_secret=',pipeline().parameters.CLIENT_SECRET,'&resource=https%3A%2F%2Fmanagement.azure.com%2F')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Database": {
						"type": "string",
						"defaultValue": "AS_Popular"
					},
					"CredentialName": {
						"type": "string",
						"defaultValue": "ProcessAnalysisService"
					},
					"AnalysisService": {
						"type": "string",
						"defaultValue": "asazure://aspaaseastus2.asazure.windows.net/cppbiase01"
					},
					"DatabaseRefreshURL": {
						"type": "string",
						"defaultValue": "https://ef6624bc-f5bf-4353-be4d-9063adab4258.webhook.eus2.azure-automation.net/webhooks?token=7WBQPRxIPAU0enB0ZqAmhEXfOxT%2fifV9zRK12YuQxRg%3d"
					},
					"SUSCRIPTION_ID": {
						"type": "string",
						"defaultValue": "3d2e514c-f131-45e2-822a-e81c79d51b94"
					},
					"TENANT_ID": {
						"type": "string",
						"defaultValue": "6e852f85-8b27-4c6b-8ee2-181db2a7f482"
					},
					"CLIENT_ID": {
						"type": "string",
						"defaultValue": "8fc2903a-e76b-4834-8e11-0bb640f3a707"
					},
					"CLIENT_SECRET": {
						"type": "string",
						"defaultValue": "tWh7bp~69FkPtzbtpX.f0XEY-o.2W7wG5~"
					},
					"RESOURCEGROUP_NAME": {
						"type": "string",
						"defaultValue": "RG-PR-PBI-DataServices"
					},
					"SERVER_NAME": {
						"type": "string",
						"defaultValue": "cppbisql01"
					},
					"DATABASE_NAME": {
						"type": "string",
						"defaultValue": "dwprpbi"
					},
					"TableRefreshURL": {
						"type": "string",
						"defaultValue": "https://ef6624bc-f5bf-4353-be4d-9063adab4258.webhook.eus2.azure-automation.net/webhooks?token=pWBrkPSaN%2bYpJgruWjUZVwfWwl3yKauk8FuU5O7WCbQ%3d"
					},
					"PartitionRefreshURL": {
						"type": "string",
						"defaultValue": "https://ef6624bc-f5bf-4353-be4d-9063adab4258.webhook.eus2.azure-automation.net/webhooks?token=tyBric5oLwTmKm94EMnioVV0DVGcJvCX1dIV2oLmZPY%3d"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T18:18:38Z"
			},
			"dependsOn": []
		}
	]
}