DFPRPBI-dev/linkedTemplates/ArmTemplate_46.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFPRPBI-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_Captacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_PasivosFechas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasivosFechas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Pasivos",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CD_SISBI_BI_PasivosFechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Pasivos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CuentContaCapta",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CuentContaCapta",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DatosLocalesAZ",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DatosLocalesAZ",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CategoriasProd",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CategoriasProd",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CatPostRestrict",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CatPostRestrict",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BeneficiariosCaptacion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BeneficiariosCaptacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CaptaCuotas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CaptaCuotas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_IUCMetasFinanciero",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_IUCMetasFinanciero",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CkCupones",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CkCupones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_StandingOrder",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_StandingOrder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_Cliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_Clientes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Clientes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DatosLocalesCli",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DatosLocalesCli",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TipoDocumentoCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TipoDocumentoCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ClientCorpo",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ClientCorpo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CarteraPriorizada",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CarteraPriorizada",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ActividadEconomicaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ActividadEconomicaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EstadoCivil",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EstadoCivil",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_NIVEL_ACADEMICO",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_NIVEL_ACADEMICO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TipodeClientes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TipodeClientes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_MaestroDef",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_MaestroDef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ESTADO_DEL_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ESTADO_DEL_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_AmbitoActividadEcononica",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_AmbitoActividadEcononica",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CICDeudores",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CICDeudores",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PatronosSicere",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PatronosSicere",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DetNegIntl",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DetNegIntl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DireccionCorrespondenciaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DireccionCorrespondenciaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EstadoDelProducto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EstadoDelProducto",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_FinalidadDelProducto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_FinalidadDelProducto",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_FuenteFondosTransaccionar",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_FuenteFondosTransaccionar",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_GeneradorMonedaExt",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_GeneradorMonedaExt",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OcupacionLaboralCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OcupacionLaboralCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OperadoraDePensiones",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperadoraDePensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OrigenDePatrimonio",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OrigenDePatrimonio",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OrigenFondosMovilizar",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OrigenFondosMovilizar",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PaisNacionalidadCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PaisNacionalidadCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PasaTiemposCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasaTiemposCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PoliticaCli",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PoliticaCli",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_RANGOS_TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_RANGOS_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ResumenClientesPas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ResumenClientesPas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Sectores",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Sectores",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TotalSaldCliGen",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TotalSaldCliGen",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ClientInsti",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ClientInsti",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Nacimientos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Nacimientos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_SaldosPorClientes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_SaldosPorClientes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_Credito')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_AgenDesa",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_AgenDesa",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Bancas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Bancas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EjecutivosDesarro",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EjecutivosDesarro",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EstadoAdmin",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EstadoAdmin",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EstadoCredito",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EstadoCredito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Lineas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Lineas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_MaestroOpe",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_MaestroOpe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ProductoMeta",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ProductoMeta",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Rangos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Rangos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Responsables",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Responsables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TipoDeduccion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TipoDeduccion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TipoResumen",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TipoResumen",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TiposDestinos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TiposDestinos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TiposGarantia",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TiposGarantia",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OpeCanceladas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OpeCanceladas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_TPR_BCOSectEconBCCR",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TPR_BCOSectEconBCCR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_General')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_Agencias",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Agencias",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PersonalBP",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PersonalBP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Regiones",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Regiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TiposAgencia",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TiposAgencia",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Zonas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Zonas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CategoriaRiesgo",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CategoriaRiesgo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EjecutivosBPGlobal",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EjecutivosBPGlobal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ProvCantDistrito",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ProvCantDistrito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TiposCambioBCCR",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TiposCambioBCCR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Monedas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Monedas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ResuSICERE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ResuSICERE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_AgeGestorCobro",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_AgeGestorCobro",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TipoEmpresaSICERE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TipoEmpresaSICERE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PatronosSIPO",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PatronosSIPO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OperacionesDiarias",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperacionesDiarias",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PasivosSaldos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasivosSaldos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Operaciones",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Operaciones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_Principal_FechaCarga')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Historica Operaciones Mes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperacionesHist_FechaCarga",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FechaCarga": {
									"value": "@pipeline().parameters.FechaCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Historico Sector Mes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Historica Operaciones Mes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_SectorCliHist_FechaCarga",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FechaCarga": {
									"value": "@pipeline().parameters.FechaCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Historica Segmenta Cliente Cierre Mes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Hsitorica Pasivos Saldos Mes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_SegmentaClientesCierreHist_FechaCarga",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FechaCarga": {
									"value": "@pipeline().parameters.FechaCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Carga Hsitorica Pasivos Saldos Mes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga Historico Sector Mes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasivosSaldosHist_FechaCarga",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FechaCarga": {
									"value": "@pipeline().parameters.FechaCarga",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FechaCarga": {
						"type": "string",
						"defaultValue": "'2020-12-31'"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-16T20:28:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_SICERE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_SICERE_BI_ActEconomicaPatSicere",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_SICERE_BI_ActEconomicaPatSicere",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PatronosSicere",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PatronosSicere",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_SICERE_BI_PatronosSicereDetalle",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_SICERE_BI_PatronosSicereDetalle",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PeriodosSalariosSicere",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PeriodosSalariosSicere",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ResuSICERE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ResuSICERE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_SICERE_BI_TipoIdnTrabSicere",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_SICERE_BI_TipoIdnTrabSicere",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_SICERE_BI_TrabajadoresSicere",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_SICERE_BI_TrabajadoresSicere",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_SICERE_BI_TrabajadoresSicResumen",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_SICERE_BI_TrabajadoresSicResumen",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SICERE"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_SUGEF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_CICDeudores",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CICDeudores",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CICSugef",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CICSugef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DetalleGIEDeudor",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DetalleGIEDeudor",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OperacionesActivas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperacionesActivas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OperacionesActivasDeudor",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperacionesActivasDeudor",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OperacionesHistoricas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperacionesHistoricas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OperacionesHistoricasDeudor",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperacionesHistoricasDeudor",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SUGEF"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_SegmentaCliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_EjecutivosBanco",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EjecutivosBanco",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ORIGEN_INGRESOS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ORIGEN_INGRESOS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_NaturalezaOES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_NaturalezaOES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CliExcluidos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CliExcluidos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BMDerechos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BMDerechos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BMVehiculos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BMVehiculos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BMCodigosEspecifica",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BMCodigosEspecifica",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BMPrestaciones",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BMPrestaciones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TarjetasDebito",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TarjetasDebito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EBUsuariosWeb",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EBUsuariosWeb",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BMBienesM",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BMBienesM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EstadosClientesPAS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EstadosClientesPAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TarjetasCredito",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TarjetasCredito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BIDerechos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BIDerechos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_IndicadoresMAPAM",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_IndicadoresMAPAM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ClientHisto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ClientHisto",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PeriodosSalariosSicere",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PeriodosSalariosSicere",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PPPResumen",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PPPResumen",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-FundsTranfer-2021')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run-FundsTranfer-2021",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_FundsTransferHist_2021",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Canales"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-11T17:28:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-SessionCustomer-2017-2020-NULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SessionCustomer-2017",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_SessionCustomerHist_2017",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SessionCustomer-2018",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SessionCustomer-2017",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_SessionCustomerHist_2018",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SessionCustomer-2019",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SessionCustomer-2018",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_SessionCustomerHist_2019",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SessionCustomer-2020",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SessionCustomer-2019",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_SessionCustomerHist_2020",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SessionCustomer-NULL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SessionCustomer-2020",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_SessionCustomerHist_NULL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Canales"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-08T21:54:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-StmtEntry-2019-2020-2021')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StmtEntry-2019",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_StmtEntryHist_2019",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "StmtEntry-2020",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "StmtEntry-2019",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_StmtEntryHist_2020",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "StmtEntry-2021",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "StmtEntry-2020",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_StmtEntryHist_2021",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Canales"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-04T20:54:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-Teller-2017-2021')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Teller-2017",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_TellerHist_2017",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teller-2018",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Teller-2017",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_TellerHist_2018",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teller-2019",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Teller-2018",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_TellerHist_2019",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teller-2020",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Teller-2019",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_TellerHist_2020",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teller-2021",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Teller-2020",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_TransT24_BI_TellerHist_2021",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Canales"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-04T21:31:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Transformacion_DIM_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Gener",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_General",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_Gener",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin DIM Generales",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin DIM Generales",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_General_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin DIM Generales",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_NoDefinido_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM General",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_NoDefinido_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_General",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM General",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_General_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM General",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_Cliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_Cliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Transformacion_FACT_SegmentaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_FACT_SegmentaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Transformacion_FACT_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_FACT_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Transformacion_FACT_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_FACT_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Elimina_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Elimina_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Elimina_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Cliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Cliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga Informacin de Clientes",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_Cliente_Error_copy1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_SegmentaCliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin DWH",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga Informacin de Crdito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora__Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga  Informacin de Captacin",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_EliminaStage_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_NoDefinido_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga  Informacin del Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga Informacin de Clientes",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_SegmentaCliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga  Informacin de Segmenta Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_SegmentaCliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga Informacin de Segmenta Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga  Informacin de Crdito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga Informacin de Crdito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga  Informacin de Captacin",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga  Informacin de Captacin",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Elimina_Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Elimina Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DWH",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_FACT_CaptacionHistorico')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_BI_PasivosSaldosHist",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasivosSaldosHist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga_FACT_CaptacionHistorico",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extrae_BI_PasivosSaldosHist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_CaptacionHistorico",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_FACT_CreditoHistorico')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrae_BI_OperacionesHist",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperacionesHist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Carga_FACT_CreditoHistorico",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extrae_BI_OperacionesHist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_CreditoHistorico",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_FACT_MetaCaptacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga_FACT_MetaCaptacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_DWH_Bitacora_MetaCaptacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_MetaCaptacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_DWH_Bitacora_MetaCaptacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_MetaCaptacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin FACT Meta Captacin",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH_Carga_FACT_MetaCaptacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_DWH_Bitacora_MetaCaptacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga_FACT_MetaCaptacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin FACT Meta Captacin",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH_Carga_FACT_MetaCaptacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_DWH_Bitacora_MetaCaptacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga_FACT_MetaCaptacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin FACT Meta Captacin",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH_Carga_FACT_MetaCaptacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CD_SISBI_BI_Meta_Captaciones",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_MetaCaptacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Meta_Captaciones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_MetaCaptacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Metas de Captacin de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_FACT_MetaCaptacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_MetaCaptacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CD_SISBI_BI_Meta_Captaciones",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CD_SISBI_BI_Estacionalidad_Meta_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Metas de Captacin de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_FACT_MetaCaptacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CD_SISBI_BI_Meta_Captaciones",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "CD_SISBI_BI_Estacionalidad_Meta_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Metas de Captacin de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_FACT_MetaCaptacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CD_SISBI_BI_Estacionalidad_Meta_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_MetaCaptacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Estacionalidad_Meta_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_FACT_MetaCredito')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga_FACT_MetaCredito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_DWH_Bitacora_MetaCredito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_MetaCredito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_MetaCredito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Metas de Crdito de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_FACT_MetaCredito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CD_SISBI_BI_MetasCreditos",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_MetaCredito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_MetasCreditos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Estacionalidad_creditos",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_MetaCredito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Estacionalidad_creditos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_MetaCredito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CD_SISBI_BI_MetasCreditos",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CD_SISBI_BI_Estacionalidad_creditos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Metas de Crdito de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_FACT_MetaCredito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_MetaCredito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CD_SISBI_BI_Estacionalidad_creditos",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "CD_SISBI_BI_MetasCreditos",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Metas de Crdito de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_FACT_MetaCredito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_DWH_Bitacora_MetaCredito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_MetaCredito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin FACT Meta Crdito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutndose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH_Carga_FACT_MetaCredito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_DWH_Bitacora_MetaCredito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga_FACT_MetaCredito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin FACT Meta Crdito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH_Carga_FACT_MetaCredito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_DWH_Bitacora_MetaCredito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga_FACT_MetaCredito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformacin FACT Meta Crdito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH_Carga_FACT_MetaCredito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/03-PrimerodeMes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "031-PrimerodeMes-SISBI",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "031-PrimerodeMes-SISBI",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "AuditoriaInterna/00-Runs"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-28T22:23:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ejecucion_Principal_FechaCarga')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extraer_Principal_FechaCarga",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Principal_FechaCarga",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FechaCarga": {
									"value": "@pipeline().parameters.FechaCarga",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SP_DWH_Extraer_Principal",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extraer_Principal_FechaCarga",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Principal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FechaCarga": {
						"type": "string",
						"defaultValue": "'2021-10-31'"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-07T22:24:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Extraer_Principal_FechaCarga')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ejecucion_Principal_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_DWH_Extraer_Principal",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Principal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Transformacion_DWH",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Principal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-03T20:51:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Transformacion_DWH')]"
			]
		}
	]
}