DFPRPBI-dev/linkedTemplates/ArmTemplate_47.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFPRPBI-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_Principal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Gener",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas Generales de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Gener",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas Generales de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_General_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas Generales de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Gener",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_General",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Extraer_Cliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Cliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Clientes de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Clientes de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Cliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Cliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Clientes de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_SegmentaCliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake tablas de Segmenta Clientes de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_SegmentaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_SegmentaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_SegmentaCliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake tablas de Segmenta Clientes de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_SegmentaCliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_SegmentaCliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Segmenta Clientes de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Crédito de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Crédito de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Crédito de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Captación de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Captación de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data Lake Tablas de Captación de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Extraer_Principal",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-Canales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extraer_Canales",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Canales",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Extraer_Canales",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extraer_Canales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Canales",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_CanalesTipoTransaccion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Canales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_CanalesTipoTransaccion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_CanalesUsuario",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_CanalesTipoTransaccion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_CanalesUsuario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_CodigosATM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_CanalesUsuario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_CodigosATM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_FechaTransaccion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_CodigosATM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_FechaTransaccion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_CanalesAfiliacionUsuario",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_FechaTransaccion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_CanalesAfiliacionUsuario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_CanalesIngresoUsuario",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_CanalesAfiliacionUsuario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_CanalesIngresoUsuario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_CanalesTransaccion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_CanalesIngresoUsuario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_CanalesTransaccion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Canales"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-SICERE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_DWH_Carga_DIM_SICEREObrero",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_SICERE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_SICEREObrero",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_SICEREPatron",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_SICEREObrero",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_SICEREPatron",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_SICEREAntiguedad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_SICEREPatron",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_SICEREAntiguedad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_SICEREPeriodo",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_SICEREAntiguedad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_SICEREPeriodo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Extraer_SICERE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_SICERE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Extraer_SICERE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extraer_SICERE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_SICERE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SICERE"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-SUGEF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extraer_SUGEF",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_SUGEF",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Extraer_SUGEF",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extraer_SUGEF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_SUGEF",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_SUGEFDeudor",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_SUGEF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_SUGEFDeudor",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_SUGEFEntidad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_SUGEFDeudor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_SUGEFEntidad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_SUGEFFechaFormalizacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_SUGEFEntidad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_SUGEFFechaFormalizacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_SUGEFFechaVencimiento",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_SUGEFFechaFormalizacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_SUGEFFechaVencimiento",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_SUGEFOperacionesActivas",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_SUGEFFechaVencimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_SUGEFOperacionesActivas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_SUGEFOperacionesHistoricas",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_SUGEFOperacionesActivas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_SUGEFOperacionesHistoricas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SUGEF"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-Tarjetas-Diario')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extraer Tarjeta Diario",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer Tarjeta Diario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Extrae_Tarjeta_Diario",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extraer Tarjeta Diario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extrae_Tarjeta_Diario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_AUX_TarjetaClasificacionBIN",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extrae_Tarjeta_Diario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_AUX_TarjetaClasificacionBIN",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_AUX_TarjetaClasificacionEmisor",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_AUX_TarjetaClasificacionBIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_AUX_TarjetaClasificacionEmisor",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_AUX_TarjetaClienteApp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_AUX_TarjetaClasificacionEmisor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_AUX_TarjetaClienteApp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_AUX_TarjetaFormaPago",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_AUX_TarjetaClienteApp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_AUX_TarjetaFormaPago",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_AUX_TarjetaUnificacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_AUX_TarjetaFormaPago",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_AUX_TarjetaUnificacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_Tarjeta",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_AUX_TarjetaUnificacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_Tarjeta",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_SaldosTarjetaCredito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_Tarjeta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_SaldosTarjetaCredito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Tarjetas"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-Tarjetas-Mensual')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extraer Tarjeta Mensual",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer Tarjeta Mensual",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_MCC",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extrae_Tarjeta_Mensual",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_MCC",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_DIM_TarjetasTipoTransaccion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_MCC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_TarjetasTipoTransaccion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_TarjetaTransaccion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_DIM_TarjetasTipoTransaccion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_TarjetaTransaccion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Extrae_Tarjeta_Mensual",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extraer Tarjeta Mensual",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extrae_Tarjeta_Mensual",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Tarjetas"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_Captacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Captación de SISBI al Data Lake ",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Extrae_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Captación de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_DWH_Extrae_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Extrae_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción de Tablas de Captación al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Extraer_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_DWH_Extrae_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción de Tablas de Captación al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Transformacion_DIM_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_DWH_Extrae_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Captación de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción de Tablas de Captación al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captacion",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_FACT_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_FACT_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_FACT_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Captacion",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_NoDefinido_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga No Definido",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_NoDefinido_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Error_Carga_NoDefinido_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_EliminaTablas_Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_FACT_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Captación",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Elimina_Stage_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_EliminaTablas_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Elimina_Stage_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Elimina_Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Captación",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Elimina_Stage_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Captación",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_CaptacionHistorico')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Captación Histórico de SISBI al Data Lake ",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_CaptacionHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Extrae_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Captación Histórico de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_CaptacionHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_DWH_Extrae_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Extrae_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción de Tablas de Captación Histórico al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Extraer_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_DWH_Extrae_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción de Tablas de Captación Histórico al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Transformacion_DIM_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_DWH_Extrae_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captación Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Captación Histórico de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_CaptacionHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captación Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción de Tablas de Captación Histórico al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captacion Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_FACT_CaptacionHistorico",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_FACT_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_FACT_CaptacionHistorico",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_FACT_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Captación Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_CaptacionHistorocp",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_CaptacionHistorico",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Captación Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_CaptacionHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_CaptacionHistorico",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Captación Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_CaptacionHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_NoDefinido_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga No Definido",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_NoDefinido_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Error_Carga_NoDefinido_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_Cliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Clientes de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Clientes de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_DWH_Extrae_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos de Clientes al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extrae_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Extraer_Cliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_DWH_Extrae_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Cliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos de Clientes al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extrae_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Transformacion_DIM_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_DWH_Extrae_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_DIM_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Cliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Cliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae Tablas de Clientes de SISBI al Data Lake",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Carga_DIM_Cliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_DIM_Cliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga_DIM_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_DIM_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Cliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Cliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos de Clientes al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extrae_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Cliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Carga_DIM_Cliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_DIM_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_Cliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Cliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_Carga_NoDefinido_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_Cliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_NoDefinido_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_Cliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_Cliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Cliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Elimina_Stage_Cliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_NoDefinido_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Elimina_Stage_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Elimina_Stage_Cliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Elimina_Stage_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Elimina_Stage_Cliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Elimina_Stage_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage_Cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Elimina_Stage_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_BitacoraElimina_Stage_General_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage_Cliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Elimina_Stage_Cliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_Credito')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake tablas de crédito de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake tablas de créditos de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_DWH_Extrae_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos de Crédito al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Extraer_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_DWH_Extrae_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos de crédigo al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Transformacion_DIM_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_DWH_Extrae_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake catálogos de crédito de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos de crédito al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Credito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Transformacion_FACT_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_FACT_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_FACT_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_NoDefinido_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Credito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_NoDefinido",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_NoDefinido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_NoDefinido_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_NoDefinido_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_EliminaTablas_Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_FACT_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Elimina_Stage_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_EliminaTablas_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Elimina_Stage_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Elimina_Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Elimina_Stage_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_CreditoHistorico')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake tablas de crédito de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_CreditoHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake tablas de créditos de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_CreditoHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_DWH_Extrae_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Tablas de Crédito al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Extraer_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_DWH_Extrae_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Tablas de Crédito al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Transformacion_DIM_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_DWH_Extrae_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake catálogos de crédito de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_CreditoHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Tablas de Crédito al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Credito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_DIM_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Transformacion_FACT_CreditoHistorico",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_FACT_CreditoHistorico",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_FACT_CreditoHistorico",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_FACT_CreditoHistorico",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_NoDefinido_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Crédito Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_CreditoHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_CreditoHistorico",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_CreditoHistorico",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Crédito Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_CreditoHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_FACT_CreditoHistorico_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_FACT_CreditoHistorico",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación FACT Crédito Histórico",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_CreditoHistorico",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_NoDefinido",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_NoDefinido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_NoDefinido_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_NoDefinido_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_EliminaTablas_Stage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_FACT_CreditoHistorico",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Elimina_Stage_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_EliminaTablas_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Elimina_Stage_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Elimina_NoDefinido",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Elimina_NoDefinido_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Elimina_Stage_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Elimina Tablas del Stage - Crédito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_General')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Gener",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake catálogos generales de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Gener",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake catálogos generales de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_DWH_Extrae_GEneral",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Gener",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos Generales al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Extraer_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_DWH_Extrae_GEneral",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_General",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos Generales al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Transformacion_DIM_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_DWH_Extrae_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Generales",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_General_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Extraer_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extrae al Data lake catálogos generales de SISBI",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - Transformacion_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_General",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Generales",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_DWH_Extrae_General_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Extracción Catálogos Generales al STAGE",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Extraer_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_General_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Generales",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Extraer_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Gener",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_General",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Ini_Bitacora_Carga_NoDefinido_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM General",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_General",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_NoDefinido_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_General",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_General",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_General",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM General",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_General_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_General",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM General",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Carga_NoDefinido_General",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-06T14:45:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_DIARIO')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "01-Diario",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-06-07T02:55:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								1
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_SEMANAL')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "02-Semanal",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 15,
						"startTime": "2021-06-07T17:56:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								1
							],
							"hours": [
								0
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ejecucion_Principal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extraer_Principal",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extraer_Principal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SP_DWH_Extraer_Principal",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Extraer_Principal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Extraer_Principal",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Transformacion_DWH",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_DWH_Extraer_Principal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DWH",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "012-Diario-SISBI",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Transformacion_DWH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "012-Diario-SISBI",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-18T16:48:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Extraer_Principal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-FaseII-Diario')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run-Canales",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Run-Canales",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Run-Rentabilidad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run-Tarjetas-Diario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Run-Rentabilidad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Run-Tarjetas-Diario",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run-Canales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Run-Tarjetas-Diario",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00-Runs"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Run-Canales')]",
				"[concat(variables('factoryId'), '/pipelines/Run-Tarjetas-Diario')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run-FaseII-Mensual')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run-Tarjetas-Mensual",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Run-Tarjetas-Mensual",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00-Runs"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-23T18:10:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Run-Tarjetas-Mensual')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_PRIMERODEMES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "03-PrimerodeMes",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 15,
						"startTime": "2021-06-08T19:36:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								1
							],
							"hours": [
								0
							],
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_Ejecucion_Principal')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ejecución diaria del proceso de carga",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Ejecucion_Principal",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-31T20:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Ejecucion_Principal')]"
			]
		}
	]
}